.t-column-w-1 {
    width:10%;
}

.t-column-w-2 {
    width:20%;
}

.t-column-w-3 {
    width:30%;
}

.t-column-w-4 {
    width:40%;
}

.t-column-w-5 {
    width:50%;
}

.t-head {
    font-size: 16px;
}

.t-main {
    flex: 1 1 auto;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.t-container-div {
    overflow-x: auto;
    position: relative;
}